/* Header */
header {
    display: block;
    background-color: black;
}

/* Top bar */
.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.top_bar nav {
    margin-right: 20px;
}

.top_bar nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.top_bar nav a,
.top_bar nav a:visited,
.top_bar nav a:active {
    text-decoration: none;
}

.top_bar nav a:hover {
    transition: 0.4s;
    color: rgb(211, 207, 207);
}

/* Main nav */
.main_nav_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Logo, banner */
.main_nav_wrapper .logo {
    margin: 60px 0px 60px 0px;
}

.logo a,
.logo a:visited,
.logo a:active {
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

/* Navigation */
.main_nav_wrapper nav {
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.main_nav_wrapper nav a,
.main_nav_wrapper nav a:visited,
.main_nav_wrapper nav a:active {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.main_nav_wrapper nav a:hover {
    border-bottom: 1px solid #d6a63e;
}

.icon-down-arrow {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    margin: 0px 0px 6px 4px;
    padding: 3px;
    transform: rotate(45deg);
}

/* Pannel-admin */
.pannel_admin_nav {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pannel_admin_nav nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.pannel_admin_nav nav a,
.pannel_admin_nav nav a:visited,
.pannel_admin_nav nav a:active {
    text-decoration: none;
}