<section class="register_page">

    <div class="register-display-form">
        <h1>CREATE ACCOUNT</h1>

        <div class="register_form">
            <form [formGroup]="registerForm">
                <label>Username</label>
                <input required type="text" formControlName="username">

                <label>Email</label>
                <input required type="email" formControlName="email">

                <label>Password</label>
                <input required type="password" formControlName="password">

                <button type="submit" [disabled]="!registerForm.valid" (click)="submitRegister()">Sign Up</button>
                <span class="already">Already Registered? <a routerLink="/signin">Login</a></span>
            </form>
        </div>
    </div>

</section>