<section class="recover_page">

    <div class="recover-display-form">
        <h1>CUSTOMER LOGIN</h1>

        <div class="recover_form">
            <h2 class="rec_title">RESET PASSWORD</h2>
            <form [formGroup]="recoverForm">
                <label>Email</label>
                <input required type="email" placeholder="Your email..." formControlName="email">
                <span class="recover_gmail">We will send you an email to reset your password.</span>

                <button type="submit" [disabled]="!recoverForm.valid" (click)="submitRecover()">Submit</button>
                <span class="recover_cancel">or <a routerLink="/signin">Cancel</a></span>
            </form>
        </div>
    </div>

</section>