/* Recover page */

.rec_title {
    color: black;
    font-weight: bold;
}

.recover_page {
    display: flex;
    justify-content: center;
}

.recover-display-form {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 85%;
}


/* Header */

.recover-display-form h1 {
    width: 100%;
    font-weight: bold;
    color: black;
    font-size: 32px;
    padding-bottom: 12px;
    border-bottom: 1px solid black;
}


/* Recover form */

.recover_form {
    margin-top: 50px;
}

form label {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: black;
    margin-bottom: 7px;
}

form input {
    display: block;
    margin-bottom: 20px;
    width: 30%;
    height: 42px;
    min-height: 42px;
    padding: 0 10px;
    border: 1px solid #cccccc;
}

form button {
    margin-bottom: 10px;
    background-color: #d6d1d1;
    border: 1px solid #d6d1d1;
    color: black;
    text-align: center;
    cursor: pointer;
    width: 10%;
    height: 42px;
    min-height: 42px;
    line-height: 1.2;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    transition: all 0.2s linear;
}

form button:hover {
    display: inline-block;
    background-color: #bdb9b9;
    border: 1px solid #bdb9b9;
}

span.recover_gmail {
    display: block;
    margin-bottom: 20px;
    color: rgb(36, 35, 35);
    font-weight: bold;
    font-style: italic;
}

/* Cancel recover password */

.recover_cancel {
    padding-top: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.recover_cancel a {
    text-decoration: none;
    color: black;
    transition: color .1s linear;
}

.recover_cancel a:active,
.recover_cancel a:visited,
.recover_cancel a:link {
    text-decoration: none;
}

.recover_cancel a:hover {
    color: orangered;
}