.recipe_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.recipe {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

.recipe_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recipe_image {
    width: 500px;
}

.recipe_description {
    margin-top: 30px;
}

.recipe_description span {
    font-weight: bold;
    font-size: 22px;
}

.recipe_description p {
    font-style: italic;
}

/* Author */
.recipe_author {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

.recipe_author a {
    color: black;
    display: inline-flex;
    align-items: center;
}

.recipe_author a, .recipe_author a:visited, .recipe_author a:active {
    text-decoration: none;
    color: black;
}


.author_img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.author_username {
    font-weight: bold;
    margin-left: 15px;
}


/* Buttons */
.back-btn {
    margin-top: 30px;
    background-color: white;
    color: black;
    border: 2px solid black;
    height: 50px;
    width: 120px;
}

.back-btn:hover {
    transition: 0.3s;
    background-color: rgb(223, 221, 221);
}

.action-btns {
    margin-left: 20px;
}

/* Recipes */
.recipe_comments {
    width: 80%;
    margin-top: 70px;
}

.add_comment {
    text-align: right;
}

.input_comment {
    min-height: 50px;
    width: 100%;
    padding-bottom: 20px;
}

.btn-add-comment {
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
    height: 40px;
    min-width: 20%;
    background-color: rgb(2, 170, 2);
    color: white;
    font-weight: bold;
    border: 1px solid rgb(0, 121, 0)
}

.comments {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgb(153, 148, 148);
}

.comment {
    margin-top: 12px;
    min-height: 50px;
    padding: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(223, 218, 218);
}