<section class="creator_page">

    <div class="creator-display-form">
        <h1>NEW MEAL</h1>

        <div class="creator_form">
            <form [formGroup]="creatorForm">
                <label>Name</label>
                <input required type="text" formControlName="name">

                <label>Description</label>
                <input required type="text" formControlName="description">

                <label>Image Url</label>
                <input required type="text" formControlName="image">

                <label>Price</label>
                <input required type="number" formControlName="price" id="tentacles" name="tentacles" min="0">

                <label>Category</label>
                <select *ngIf="categories" required formControlName="category" name="category" id="category">
                    <option value="0">-- No category --</option>
                    <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                </select>
                  
                <button type="submit" [disabled]="!creatorForm.valid" (click)="submitCreator()">Create Meal</button>
            </form>
        </div>
    </div>

</section>