.meals {
    margin-top: 30px;
    margin-bottom: 100px;
    padding-top: 20px;
    display: block;
    width: 90%;
}

/* Pagination */
.controls {
    margin-top: 50px;
}

.my-pagination /deep/ a {
    color: black;
    font-size: 1.2em;
}