.meals {
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 20px 30px 30px 0px;
}

.meals-grid {
    text-align: center;
    display: grid;
    grid: auto / repeat(4, 1fr);
    grid-gap: 40px 20px;
}

/* Pagination */
.controls {
    margin-top: 50px;
}

.my-pagination /deep/ a {
    color: black;
    font-size: 1.2em;
}