.recipe_preview {
    margin: 10px 5px 10px 5px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Recipe image */

.recipe_img {
    height: 170px;
    /* background-color: rgb(197, 104, 120); */
    background-color: rgb(221, 221, 165);
}


/* Recipe caption */

.recipe_caption {
    background-color: #e8e2e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.recipe_caption a {
    text-decoration: none;
    color: black;
    width: 100%;
}

.recipe_caption:hover {
    background-color: #c9c4c4;
}

.recipe_name {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.recipe_description {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}