<section class="profile_page">
    <section class="profile_user">
        <div>
            <!-- <span class="profile_img"><img src="{{profile.image}}"/></span> -->
            <span class="profile_img"><img src="https://lh3.googleusercontent.com/ogw/ADGmqu_wixuPJYRfks70Xz_NL3vS68HLHfKUIsBKKsBIIw=s32-c-mo"/></span>
            <h2 class="profile_username">{{profile.username}}</h2>
            <!-- <p class="profile_description">{{profile.description}}</p> -->
            <p class="profile_description">description</p>
        </div>
    </section>

    <section class="profile_recipes">
        <div class="recipes">
            <h2>RECIPES</h2>
            <div *ngFor="let recipe of profile.recipes" class="recipe">
                <a routerLink="/recipe/{{recipe.id}}">
                    <h3>{{recipe.name}}</h3>
                    <p>{{recipe.description}}</p>
                </a>
            </div>
        </div>
    </section>
</section>