.profile_page {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgb(206, 206, 142);
}

/* User profile */
.profile_user {
    display: block;
}

.profile_user div {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_img {
    display: block;
    margin-top: 20px;
}

.profile_img img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.profile_username {
    display: block;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.profile_description {
    display: block;
    text-align: center;
    width: 60%;
}

.follow {
    margin-top: 20px;
    display: block;
    flex-direction: row;
}

.follow div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.follow div button {
    width: 200px;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: black;
    border: 2px solid grey;
}


/* User recipes */
.profile_recipes {
    width: 80%;
    display: block;
    margin-top: 50px;
}

.profile_recipes h2 {
    align-content: center;
}

.recipes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe {
    margin: 10px 5px 10px 5px;
}