.category_section {
    padding: 30px;
}

.category_section h1 {
    text-align: left;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.meals-grid {
    display: grid;
    grid: auto / repeat(4, 1fr);
    grid-gap: 40px 20px;
}

.meal {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meal a {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meal_image {
    width: 200px;
    height: 200px;
}

a, a:visited, a:active {
    color: black;
    text-decoration: none;
}